<div id="header">
    <div class="page-container" id="nav">
        <div id="logo" class="logo"><a href="/" target="_self" class="hide-text">慕课网</a></div>
        <ul class="nav-item l">
            <li><a href="/course/list" target="_self">课程</a></li>
            <li><a href="/wenda" target="_self">问答</a></li>
            <!-- <li><a href="/seek/index" target="_self">求课</a></li> -->
            <li class="nav-item-mycourse"><a href="/space/course" target="_self">我的课程</a></li>        </ul>
                <div id="login-area">
            <ul class="clearfix logined">
        	    <li class="my_message">
                    <a href="/message" title="我的消息" target="_self">
                        <i class="msg_icon" style="display: none;"></i>
                        <span style="display: none;">我的消息</span>
                    </a>
                </li>
                <li class="my_mp" title="我的经验">
                    <a href="/space/experience" target="_self">
                        <span class="mp">经验</span>
                        <span class="mp_num">865</span>
                    </a>

                </li>
                <li class="set_btn">
                    <a id="header-avator" action-type="my_menu" href="/space/index" target="_self">
                    	<img src="http://img.mukewang.com/user/546ea0040001318201800180-40-40.jpg" width="40" height="40">
                    </a>
                    <ul id="nav_list">
                    	<li><a id="my_space" href="/space/index" title="梦想studio" class="text-ellipsis" target="_self">梦想studio</a></li>
                        <li><a id="my_setting" href="/user/userinfo" target="_self">我的设置</a></li>
                        <li><a id="my_logout" href="/user/logout" target="_self">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
	</div>
</div>