<#include "/inc/global.htm">

<#if DEBUG?? && DEBUG>
  <#global appRoot = '${ctx}'>
  <#global jsRoot = '${ctx}/src/js'>
  <#global seajsRoot = '${jsRoot}/seajs-module'>
  <#global cssRoot = '${ctx}/src/css'>
  <#global imgRoot = '${ctx}/src/img'>
<#else>
  <#assign cdn = 'http://ue.17173cdn.com'>
  <#global appRoot = '${ctx}'>
  <#global jsRoot = '${ctx}/dist/js'>
  <#global seajsRoot = '${jsRoot}/seajs-module'>
  <#global cssRoot = '${ctx}/dist/css'>
  <#global imgRoot = '${ctx}/dist/img'>
</#if>

<#macro header title model page>
  <!DOCTYPE HTML>
  <html>
  <head>
    <title>${title!''}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="慕课网，移动端开发，IT技能培训，免费编程视频，php开发教程，web前端教程，在线编程学习，html5视频教程，css+div教程，ios开发培训，安卓开发教程" />
    <meta name="Description" content="慕课网（IMOOC）拥有丰富的互联网师资力量，在这里我们提供免费的编程教学视频，并且与名师在线编程互动。慕课网为每一个人营造独特的学习氛围，让你从IT菜鸟晋升为优秀程序员不在是梦想。活跃在一线互联网公司的高级开发工程师与你一起学习和分享编程的快乐与进步，指导你成为编程高手的捷径，让你从IT菜鸟迅速晋升为优秀的程序员。"/>
    <script type="text/javascript">
      var OP_CONFIG={"module":"${model}","page":"${page}"};
    </script>
	<#-- <link href="${cssRoot}/bootstrap.min.css" rel="stylesheet"> -->
	<link href="${cssRoot}/base/base.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
 		<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
 		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    <script>
      var timestamp = new Date();
      window.GLOBAL = {
        CTX: '${ctx}',
        STIC: '${jsRoot}',
        SEA:  '${seajsRoot}',
        STIC_COM: '${jsRoot}/components',
  		TIMESTAMP: timestamp.getFullYear()+timestamp.getMonth()+timestamp.getDate()+timestamp.getHours()+timestamp.getMinutes()
      };
    </script>
    <#nested>

  </head>
</#macro>

<#macro body menu="菜单名" cls="page">
  <body>
  	<#include '/inc/header.htm'>
  	<div class="${cls}">
  		<div id="main">
		    <div class="wrapper">
		      <section>
		        <div class="content-wrapper">
		          <#nested>
		        </div>
		      </section>
		    </div>
	    </div>
    </div>
</#macro>

<#macro footer>
  <#include '/inc/script.htm'>
    <#nested>
    </body>
    </html>
</#macro>