.course-tools{
	height: 50px;
	background: #fff;
	padding: 0 20px;
}

.course-tools h2{
	padding:10px 0;
	line-height:29px;
	height: 29px;
	color: #99a1a6;
	font-size: 14px;
	border-bottom: 1px solid #d0d6d9;
}

.course-tools h2 strong{
	font-size: 14px;
	font-weight: normal;
	color: #14191e;
}

.course-list{
	padding: 20px 0;
	overflow: hidden;
	position: relative;
	min-height: 300px;
}
.login-image{
	display: inline-block;
	padding-left: 200px;
	text-align: center;
}

.form{
	padding: 80px 50px;
	width: 500px;
}
.form.div{
	padding: 0 20px;
}
.form-group{
	padding: 10px 20px;
}
.form-group label{
	padding-right: 10px;
	width: 30px;
	display: inline-block;
}
.form-group .tips{
	display: inline-block;
	min-width: 350px;
	margin-left: 15px;
	color: #FF6500;
}
/**error icon**/
.tips i.err{

}
/**error icon**/
.tips i.ok{

}

.button-group{
	margin-left: 43px;
}
.button-group button{
	color: #ffffff;
}
.button-group button:hover{
	color: #139D4B;
}

.loginbtn{
	width: 100px;
	background: #139d4b;
}

.result-tip{
	color:#df0007;
	font-weight: 200;
	width: 240px;
	margin-left: 43px;
	padding-left: 20px;
	border: 1px dashed #df0007;
}

/**注册页面**/
.register-form{
	width: 100%;
}

.form-tip{
	padding-left: 80px;
	color: #dd5981;
	visibility: hidden;
}
.pwd-tip{
	padding-left: 62px;
}
.form-tip em{
	padding: 0 35px;
	background: #dd5981;
	margin: 0 2px;
	color: #ffffff;
}
.form-tip em.active{
	background: #df3831;
}
.registerbtn{
	 width: 120px;
}

.rule .rule-link{
	color: #FF6500;
}